/* Reset CSS */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}
/* */


/* Global and overwrite default tags */
html * {
    font-family: monospace;
}

body {
    font-size: 14px;
    line-height: 1.2;
}

h2 {
    margin-top: 0.5em;
    display: inline-block;
}

i.fa, i.far {
    display: inline;
    color: #888888;
}

i.fa:hover, i.far:hover {
    cursor: pointer;
    color: #000000;
}

a {
    text-decoration: none;
    color: initial;
}
/* */


/* Application */
.app {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 480px auto;
    column-gap: 5px;
    margin-bottom: -1.25em;
    min-height: 100%;
}

.app > * {
    grid-column: 2;
    min-width: 0;
}
/* */


/* Header */
.app__header {
    text-align: center;
}

.app__header:hover {
    cursor: pointer;
}

.header__logo {
    max-width: 160px;
    height: auto;
}
/* */


/* Link below header */
a.external-link {
    margin: 1em 0 1.25em;
}

a.external-link:hover {
    text-decoration: underline;
}
/* */


/* Custom button class */
.custom-btn {
    /* Remove default button styling */
    border: none;
    outline: none;
    /* Add custom styling */
    margin-left: 1%;
    width: 15%;
    box-sizing: border-box;
    float: right;
    transition: border 0.1s;
}

.custom-btn:active {
    border: 1px solid #888888;
}
/* */


/* App main */
.app__main {
    margin-top: 1em;
}

/* Key input area */
.key-input > input[type="text"] {
    width: 15%;
}
/* Input and output text areas */
#input-and-function > textarea, #output-and-copy > textarea {
    width: 55%;
}

/* Message that shows when click on Copy button */
.message {
    float: right;
    width: 15%;
    font-size: 0.85em;
    font-style: italic;
    display: none;
}

.show {
    display: inline-block;
}
/* */


/* Footer */
.app__footer, .push-for-footer {
    height: 1.25em;
}

.app__footer {
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    background-color: gray;
}

.app__footer > a:hover {
    color: #ffffff;
}
/* */